# Environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Data (optional, but recommended for large files)
*.csv
*.json
*.sqlite
